.profile #avatar {
    width: 128px;
    height: 128px;
}

.youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 2rem;
}

.youtube-video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:0;
}

#wrapper.home {
    max-width: 640px;
}
#wrapper.post {
    max-width: 800px;
    text-align: justify;
}

#wrapper {
    max-width: 800px;
}

blockquote {
    font-family: 'Noto Serif', serif;
    font-style: italic;
}

figcaption {
    margin-top: 12px;
    text-align: center;
}

pre code {
    font-size: 14px;
}

figure img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: inherit;
}

.highlight pre {
    background-color: inherit !important;
}

.thin-white-overlay {
    background-color: rgba(255, 255, 255, 0.1);
}

.w-100 {
    width: 100%;
}
