@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

p {
    font-size: 1.25rem;
    line-height: 2;
}

img {
    max-width: 100%;
}
